<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../assets/login_banner.gif"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div>
            <p class="lead admin-login-txt fw-normal mb-0 me-3">Admin Log in</p>
            <div id="alert-container"></div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="customer_email"
              name="customer_email"
              class="form-control form-control-lg"
              placeholder="Enter Email *"
              style="font-size: 22px"
              formControlName="customer_email"
            />

            <span
              style="color: red"
              *ngIf="
                customer_email &&
                customer_email.invalid &&
                customer_email.touched
              "
            >
              Enter valid email
            </span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              name="customer_password"
              class="form-control form-control-lg"
              placeholder="Enter Password *"
              style="font-size: 22px"
              required
              formControlName="customer_password"
            />
            <span
              style="color: red"
              *ngIf="
                customer_password &&
                customer_password.invalid &&
                customer_password.touched
              "
            >
              Enter valid Password</span
            >
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="Submit"
              class="btn-login-admin"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
